.interest-sm h4{
  margin: 0;
}

.movie-listing {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  line-height: 1.5;
}
.movie-listing thead {
  background: forestgreen;
  color: lightgrey;
  cursor: pointer;
}
.movie-listing tbody td {
  border-top: 1px gray solid;
}
.movie-listing .col1 {
  min-width: 350px;
  width: 100%;
}
.movie-listing .col2 {
  min-width: 70px;
  text-align: center;
}
.movie-listing .col3 {
  width: 150px;
  min-width: 100px;
}
.movie-listing .col4 {
  min-width: 90px;
  text-align: center;
}
.movie-listing .col5 {
  min-width: 80px;
  text-align: center;
}
.movie-listing .col6 {
  display: none;
}
.movie-listing .review {
  display: none;
}
.movie-listing .review td {
  border-top: none;
  padding-left: 8px;
}
.tablesorter .filtered {
  display: none;
}
.movie-listing thead tr:last-child {
  display: none;
}

#movie-search-form {
  width: 480px;
  margin: auto;
}


input[type="search"] {
  border: 1px solid black;
  border-radius: 2px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px;
  padding: 4px;
  width: 100%;
}
.button, button, input[type="submit"] {
  background: #f0f0f0;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  color: #888888;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px;
  padding: 4px 8px;
}
.button:hover, button:hover, input[type="submit"]:hover {
  background: #cccccc;
  border-color: #777777;
  color: black;
}

.range-filter {
  margin: 8px;
  position: relative;
}
.range-filter > label {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 0;
  height: 50px;
  line-height: 50px;
}
.range-filter > div {
  display: inline-block;
  height: 5px;
  margin: 25px 0 25px 8px;
  width: 400px;
  position: relative;
  left: 65px;
}
.range-filter .ui-slider-range {
  background: forestgreen;
}
.range-filter > div .ui-slider-handle {
  color: forestgreen;
  text-align: center;
  top: -25px;
  width: 50px;
  margin-left: -25px;
  touch-action: none;
}
.range-filter > div .ui-slider-handle:last-child {
  top: 5px;
}
